/* 
  Color Theme 
    Background color  #023246
    Nav Titles        #287094
    Headings          #F6F6F6
    Content           #D4D4CE
*/
.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: rgb(2, 16, 16);
}

h1 {
  color: white;
}
/* *******************************NAVBAR************************************ */
.nav-bar-container {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0);
  height: 3em;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  transition: top 0.5s; /* Transition effect when sliding up/down */
  width: 100%;
  
  -webkit-box-shadow: 0 10px 5px 0 rgba(0,0,0,.1); /* Safari/Chrome/ Webkits*/
  -moz-box-shadow:    0 10px 5px 0 rgba(0,0,0,.1); /* Firefox, other Gecko */
  box-shadow:         0 10px 5px 0 rgba(0,0,0,.1); /* Opera/IE 8+ */
}

.navBar {
  backdrop-filter: blur(20px);
  display: flex;
  height: 3em;
  list-style-type: none;
  margin: auto;
  width: 100%;
}

.nav-left {
  border-left: none;
  float: left;
}

.nav-right {
  float: right;
}

.navBar li {
  margin: 0 1vw 0;
}

.navBar a {
  color: white;
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.navBar a:hover {
  color: red;
}

.resume {
  border: 1px solid red;
  border-radius: 5px;
  margin: .6em 0;
}

.resume a {
  padding: 0;
}

@media screen and (max-width:800px) {
  .nav-section {
    position: absolute;
    visibility: hidden;
  }
}

/* *******************************LANDING PAGE****************************** */
.landing-page-container {
  background-image: url("./components/images/landingPage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.landing-page {
  margin: auto;
  padding: auto 50px ;
  padding-top: 24em;
  width: 80%;
  text-align: left;
}

.landing-page h3 {
  color: bisque;
  font-size: 2em;
  margin: 0;
}

.landing-page h1 {
  color: bisque;
  font-size: 5em;
  margin: 0 ;
}

.landing-page p {
  color: bisque;
  font-size: 1em;
  margin: 0;
  width: 20em;
}

/* *******************************ABOUT ME PAGE***************************** */
.about-me-container {
  padding: 5em 5em;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

.about-me {
  margin: 0;
  width: 60%;
}

.about-me-container h1 {
  color: bisque;
  font-size: 2em;
}

.about-me-container p {
  color: bisque;
  font-size: 1em;
}

/* *******************************SKILLS PAGE******************************* */
.skills-container {
  margin: 0 auto;
  padding: 5vh 5em;
  width: 80%;
}

.skills {
  background-color: rgb(252, 234, 208);
  border-radius: 30px;
  padding: 2em;
}

.skills h1 {
  color: black;
}

.skill-table-container {
  color: black;
  height: 400px;
  width: 100%;
}

.FrontEndDiv {
  float: left;
  height: 100%;
  width: 33%;
}

.BackEndDiv {
  float: left;
  height: 100%;
  width: 34%;
}

.ConceptDiv {
  float:left;
  height: 100%;
  width:33%;
}

@media screen and (max-width:800px) {
  .FrontEndDiv, .BackEndDiv, .ConceptDiv {
    width:100%;
  }
  .skills {
    height: 1250px;
  }
}

.skill-icon {
  width: 100px;
}

/* *******************************PROJECT PAGE****************************** */
.project-container {
  margin: auto;
  max-width: 80em;
  padding: 50px 50px;
  width: 80%;
}

.project-container h1 {
  color: bisque;
}

.project {
  background-color: bisque;
  border-radius: 3px;
  box-shadow: 0 2px 15px rgb(134, 134, 134);
  display: inline-block;
  height: 15em;
  margin: 8px;
  overflow: hidden;
  padding: 10px;
  width: 20em;
}

.project h3 {
  font-size: 1.1em;
}

.project p {
  font-size: 1em;
}

/* *******************************CONTACT*********************************** */
.ending{
  background-image: url(./components/images/ending.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container {
  height: 35vh;
  padding-top: 5em;
}

.contact {
  color: white;
  margin: 0 auto;
  width: 60%;
}

.contact button {
  background-color: #95b2ec;
  border: solid #EAEAEA 3px;
  color: #EAEAEA;
  cursor: pointer;
  font-size: 2em;
  padding: .5em;
  text-align: center;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.contact a {
  text-decoration: none;
}

.contact button:hover {
  background-color: #08D9D6;
  color: #252A34;
  text-decoration: none;

}

/* *******************************FOOTER************************************ */
footer {
  bottom: 0;
  height: 35vh;
  text-align: center;
  width: 100%;
}

footer h1, h4 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

footer hr {
  width: 30%;
}
.link-img {
  margin: 2vw;
  width: 3em;
}

footer p {
  color:#9e9e9e;
  font-size: small;
  margin: 0;
}