.App {
  text-align: center;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position:sticky;
  overflow: hidden;
  background-color: #333;
}

.logo {
  font-size: x-large;
}

.navBar li {
  float: left;
  top: 50%;
}

.navBar li:first-child {
  border-left: none;
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover:not(.active) {
  background-color: #111;
}

.navBar .active {
  color: #4CAF50;
}

.landing-page {
  height: 100vh;
}













.project {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  float: left;
  margin: 16px;
  padding: 10px;
  width: 240px;
}

.project p {
  font-size: 1.1em;
}



footer {
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: small;
  color:#707174;
}