.App {
  text-align: center;
}

/* *******************************NAVBAR************************************ */
.nav-bar-container {
  background-color: rgba(0,0,0,0.5);
  height: 80px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  transition: top 0.6s; /* Transition effect when sliding up/down */
  width: 100%;
}

.navBar {
  list-style-type: none;
  margin: auto;
  padding: 1% 5%;
  overflow: hidden;
}

.logo {
  font-size: large;
}

.navBar li {
  float: left;
  top: 50%;
}

.navBar li:first-child {
  border-left: none;
}

.navBar li a:hover {
  background-color: #111;
  color: #ddd;
}

.navBar a {
  color: white;
  display: block;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.resume {
  border: 1px solid red;
  border-radius: 2px;
}

/* *******************************LANDING PAGE****************************** */
.landing-page-container {
  height: 100vh;
}

.landing-page {
  /* height: 100vh; */
  height: 100%;
  margin: auto;
  padding: 250px 50px;
  width: 70%;
}

/* *******************************ABOUT ME PAGE***************************** */
.about-me-container {
  margin: auto;
  padding: 200px 50px;
  width: 70%;
}

/* *******************************SKILLS PAGE******************************* */
.skills-container {
  margin: auto;
  padding: 200px 50px;
  width: 70%;
}

.skills-container li {
  text-decoration: none;
  list-style-type: none;
}





/* *******************************PROJECT PAGE****************************** */
.project-container {
  margin: auto;
  padding: 200px 50px;
  width: 70%;
}

.project {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px #ccc;
  display: inline-block;
  height: 250px;
  margin: 8px;
  padding: 10px;
  width: 240px;
  overflow: hidden;
}

.project h3 {
  font-size: 1.1em;
}

.project p {
  font-size: 1.1em;
}


/* *******************************FOOTER************************************ */
footer {
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: small;
  color:#707174;
}